html {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Removes discs from ul */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Inherit fonts anc colour for buttons... */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 9fr 0.5fr;
  flex-direction: column;
}

.aP {
  color: #913308;
}
